# Android
app-android-kotlin/.gradle/
app-android-kotlin/build/
*.iml

# Spring Boot
webapp-springboot/target/
*.log

# ESP32 compilados
*.bin
*.elf

# Firebase sensitive
firebase-config/google-services.json
firebase-config/firebase-adminsdk.json

